h1 {
  text-align: center;
}

div {
  text-align: center;
}

#result {
  background-image: url('./assets/blob.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 800px 800px;
  background: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  border-radius: 8%;
}

#product {
  width: 15%
}

#plant {
  width: 30%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#body {
  background: url('./assets/wave.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
  max-width: none; 
  overflow: hidden;
}

.blue {
  color: #01384F
}

#icon {
  margin-left: 0.5em
}

#search {
  width: 35%
}

#vector {
  width: 40%;
  left: 50%;
  top: 75%;
}

#home {
  width: fit-content;
  position: relative;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}